/* All colors in project */
:root {
  --white-text: #ffffff;
  --black-text: #212121;
  --grey-text: #757575;
  --grey-text-op60: rgba(255, 255, 255, 0.6);
  --back-light-black: #2f303a;
  --back-light-grey: #f5f4fa;
  --back-blue: #2196f3;
}

/* Font-family in body index and portfolio */
body {
  font-family: 'Roboto', sans-serif;
}

/* Reset margin in elements */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

/* Container */
.container {
  width: 1200px;
  padding: 0 15px;
  outline: 1px solid red;
}

/* Main link */
.main-link {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Site navigation */
.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav .site-link + .site-link {
  margin-left: 50px;
}

/* alternative */
/* .site-nav .site-link {
  margin-right: 50px;
}

.site-nav .site-link:last-child {
  margin-right: 0;
} */

/* alternative second */
/* .site-nav .site-link:not(:last-child) {
  margin-right: 50px;
} */

.main-contacts {
  margin-left: auto;
  align-items: center;
}

/* Contacts link */
.contact-link {
  display: flex;
}

.contact-link .site-link + .site-link {
  margin-left: 50px;
}

/* alternative */
/* .contact-link .site-link:not(:last-child) {
  margin-right: 50px;
} */

/* Header in index and portfolio */
.logo-black {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--black-text);
}

.logo-blue {
  color: var(--back-blue);
}

.link-black {
  color: var(--black-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.current:visited {
  color: var(--back-blue);
}

.link-grey {
  color: var(--grey-text);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link-black:hover,
.link-black:focus,
.link-grey:hover,
.link-grey:focus {
  color: var(--back-blue);
}

/* .link-grey:hover,
.link-grey:focus {
  color: var(--back-blue);
} */

/* Hero */
.hero {
  background: var(--back-light-black);
  color: var(--white-text);

  text-align: center;
}

.hero-title {
  color: var(--white-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  padding-top: 200px;
  padding-bottom: 30px;
}

.hero-button {
  background: var(--back-blue);
  color: var(--white-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  width: 200px;
  height: 50px;

  margin-bottom: 200px;
}

/* Advantages */
.advantages-section {
  padding-bottom: 94px;
}

.advantages {
  display: flex;
}

.advantages-list {
  width: 270px;
}

.advantages .advantages-list + .advantages-list {
  margin-left: 30px;
}

.advantages-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  padding-bottom: 10px;
}

.advantages-description {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* About us and our team */
.about-us-title,
.our-team {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;

  text-align: center;
  padding-bottom: 50px;
}

/* .our-team {
  color: var(--black-text);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
} */

/* About us */
.about-us-list {
  display: flex;
  width: calc(100% / 3);
  margin-bottom: 94px;
}

.about-us-list .about-us + .about-us {
  padding-left: 30px;
}

/* Our team */
.our-team-bgr {
  background: var(--back-light-grey)
}

.our-team {
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team-members {
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.team-members-position {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  text-align: center;
}

/* Our projects from portfolio */
.our-projects-filters {
  background: var(--back-light-grey);
  color: var(--black-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.our-projects-filters:hover,
.our-projects-filters:focus {
  background: var(--back-blue);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--white-text);
}

.our-projects-title {
  color: var(--black-text);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.our-project {
  color: var(--grey-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Footer in index and portfolio */
.footer-background {
  background: var(--back-light-black);

  display: flex;
  height: 252px;
  align-self: center;
  justify-content: space-between;
  padding: 60px 0;
}

.contacts-ftr {
  justify-content: space-between;
}

.logo-white {
  font-family: 'Raleway', sans-serif;
  color: var(--white-text);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  /* display: flex;
  margin-bottom: 20px; */
}

.link-white {
  color: var(--white-text);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  /* display: flex;
  margin-bottom: 9px; */
}

.link-grey-footer {
  color: var(--grey-text-op60);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  /* display: flex;
  margin-bottom: 9px; */
}

.link-grey-footer:hover,
.link-grey-footer:focus,
.link-white:hover,
.link-white:focus {
  color: var(--back-blue);
}

/* .link-white:hover,
.link-white:focus {
  color: var(--back-blue);
} */
